@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  background-color: #fff;
  font-family: 'EB Garamond', serif;
  font-weight:500;
  font-size:normal;
  line-height:1.3;
  color:#000;
}
 
h1 {
  font-family: 'EB Garamond', serif;
  margin-left: 20px;
}

.grade {
  font-family: 'EB Garamond', serif;
  color: #FFD700;
  margin-left: 10px;
  font-weight:700;
}

.joker {
  font-family: 'EB Garamond', serif;
  margin-left: 60px;
  font-weight:500;
}
